.pypirc
dist/
build/
mtgtools.egg-info/
examples.py
mtgtools/__pycache__/
*.pyc
.idea/
.venv/
scratch/
scratch.py

tests/test_images
tests/clean_db.fs
tests/clean_db.fs.index
tests/clean_db.fs.lock
tests/clean_db.fs.old
tests/clean_db.fs.tmp
tests/testdb.fs
tests/testdb.fs.index
tests/testdb.fs.lock
tests/testdb.fs.old
tests/testdb.fs.tmp
tests/data/scryfall.fs*
tests/tests.py
.vscode/settings.json
