
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/mtgtools.iml
.idea/vcs.xml
.idea/workspace.xml
build/lib/mtgtools/__init__.py
build/lib/mtgtools/MtgDB.py
build/lib/mtgtools/PCard.py
build/lib/mtgtools/PCardList.py
build/lib/mtgtools/PSet.py
build/lib/mtgtools/PSetList.py
dist/mtgtools-0.9.1-py2.py3-none-any.whl
dist/mtgtools-0.9.1.tar.gz
examples.py
f.code-workspace
mtgtools.egg-info/dependency_links.txt
mtgtools.egg-info/PKG-INFO
mtgtools.egg-info/requires.txt
mtgtools.egg-info/SOURCES.txt
mtgtools.egg-info/top_level.txt
mtgtools/__pycache__/__init__.cpython-35.pyc
mtgtools/__pycache__/__init__.cpython-37.pyc
mtgtools/__pycache__/MtgDB.cpython-35.pyc
mtgtools/__pycache__/MtgDB.cpython-37.pyc
mtgtools/__pycache__/PCard.cpython-35.pyc
mtgtools/__pycache__/PCard.cpython-37.pyc
mtgtools/__pycache__/PCardList.cpython-35.pyc
mtgtools/__pycache__/PCardList.cpython-37.pyc
mtgtools/__pycache__/PSet.cpython-35.pyc
mtgtools/__pycache__/PSet.cpython-37.pyc
mtgtools/__pycache__/PSetList.cpython-35.pyc
mtgtools/__pycache__/PSetList.cpython-37.pyc
mydata.fs
mydata.fs.index
mydata.fs.lock
mydata.fs.old
mydata.fs.tmp
tests/mydata.fs
tests/mydata.fs.index
tests/mydata.fs.lock
tests/mydata.fs.old
tests/mydata.fs.tmp
tests/proxies1.jpeg
tests/proxies10.jpeg
tests/proxies11.jpeg
tests/proxies12.jpeg
tests/proxies13.jpeg
tests/proxies14.jpeg
tests/proxies15.jpeg
tests/proxies16.jpeg
tests/proxies17.jpeg
tests/proxies18.jpeg
tests/proxies2.jpeg
tests/proxies3.jpeg
tests/proxies4.jpeg
tests/proxies5.jpeg
tests/proxies6.jpeg
tests/proxies7.jpeg
tests/proxies8.jpeg
tests/proxies9.jpeg
tests/tests.py
*.pyc
