dist/
build/
mtgtools.egg-info/
examples.py
mtgtools/__pycache__/
*.pyc
.idea/

tests/test_images
tests/clean_db.fs
tests/clean_db.fs.index
tests/clean_db.fs.lock
tests/clean_db.fs.old
tests/clean_db.fs.tmp
tests/testdb.fs
tests/testdb.fs.index
tests/testdb.fs.lock
tests/testdb.fs.old
tests/testdb.fs.tmp
tests/tests.py
.vscode/settings.json
